section.container-depoimentos>div>div {
    display: inline-block;
}

section.container-depoimentos .cont-tit {
    color: #666;
    margin: 1.5em 0 0.5em 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
}

section.container-depoimentos .li-depoimento {
    padding: 1em 7px;
    box-sizing: border-box;
}

section.container-depoimentos .li-depoimento>div {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    background-color: #f9f9f9;
    font-size: 0.8em;
    border-radius: 10px;
}

section.container-depoimentos li .cont-icone {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 2em;
    transform: translateY(-30%);
}

section.container-depoimentos li .cont-foto img {
    width: 100%;
}

section.container-depoimentos li .cont-foto {
    width: 70px;
    border-radius: 50px;
    overflow: hidden;
}

section.container-depoimentos li .linha2 {
    margin: 1em 0;
}

section.container-depoimentos li .cont-depoimento p {
    font-style: italic;
}

section.container-depoimentos li .cont-depoimento p::before,
section.container-depoimentos li .cont-depoimento p::after {
    content: '"';
    font-family: sans-serif;
    font-size: 1.2em;
}

section.container-depoimentos li .cont-depoimento p::after {
    content: '"';
}

section.container-depoimentos li .linha3 {
    text-align: right;
    line-height: 1.5em;
    font-size: 0.8em;
}

section.container-depoimentos li .cont-infos {
    text-transform: capitalize;
}